.card {
    max-height: 380px;
    min-width: 200px;
}

.card:hover {
    -webkit-box-shadow: -1px 11px 16px 0px rgba(0,0,0,0.56); 
    box-shadow: -1px 11px 16px 0px rgba(0,0,0,0.56);
    cursor: pointer;
}

.card-img-top {
    max-height: 145px;
    transition: all ease 0.4s;
}    

.cart-image {
    width: 10rem;
    margin: 1em;
  }
  
.cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.card__image {
    max-height: 100% !important;
}
    
.old-price {
    font-size: 14px;
    color: lightgray;
}
    
.current-price {
    font-weight: 700;
}
    
.card__btn {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding-top: 5px;
}

.img-link {
    overflow: hidden;
}

































