.empty-cart {
    height: 45vh;
    text-align: center;
    font-size: 26px;
}

.cart {
    margin-bottom: 20px !important;
    max-width: 60%;
    margin: auto;
    position: relative;
}

.cart__item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    display: flex;
}

.card-img {
    min-height: 150px;
    max-width: 150px;
    object-fit: contain;
}

.product-name {
    font-size: 18px;
}

.total {
    border-top: 1px solid gray;
}

.product-quantity-input {
    width: 40px;
    text-align: center;
}

.cart-item__btn-delete {
    background-color: black;
    position: absolute;
    top: 5px;
    right: 2%;
    width: 35px;
    border-radius: 5px;
}

.cart-item__btn-delete:hover {
    cursor: pointer;
}

.cart-item__delete {
    color: white;
    padding: 10px;
}