.empty-cart {
    height: 45vh;
    text-align: center;
    font-size: 26px;
}

.cart {
    margin-bottom: 20px !important;
    max-width: 60%;
    margin: auto;
    position: relative;
}

.cart__item {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    display: flex;
}

.card-img {
    min-height: 150px;
    max-width: 150px;
    object-fit: contain;
}

.product-name {
    font-size: 18px;
}

.total {
    border-top: 1px solid gray;
}

.product-quantity {
    margin-top: 10px;
}

.product-quantity-input {
    width: 40px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}

.cart-item__btn-delete {
    background-color: black;
    
}

.cart-item__btn-delete:hover {
    cursor: pointer;
}

.cart-item__delete {
    color: black;
    /* padding: 10px; */
    font-size: 26px;
    margin-top: 5px;
}

.cart-item__delete:hover {
    cursor: pointer;
}

.cart__qty {
    user-select: none;
    display: flex;
    align-items: center;
}

.current-price {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
}

.product-quantity__minus {
    display: inline;
    margin-right: 5px;  
    display: flex;
    align-self: center;
}

.product-quantity__plus {
    display: inline;
    margin-left: 5px;
    display: flex;
    align-self: center;
}